@charset "UTF-8";
/* We need this to create the black out effect for mobile users */
#rectangle{
    width:900px;
    height:900px;
    background:black;
    justify-content: center;
    align-items: center;
}

/* Stop the a tag from painting over the blink anim */
a {
  text-decoration: none;
  animation: blink 4s ease-in-out infinite;
  color: inherit;
}

html {
    width: 100%;
    height: 100%;
  }

body {
    justify-content: center;
    align-items: center;
    font-family: "MS PGothic", "ＭＳ Ｐゴシック", Georgia, Arial, Helvetica,
      sans-serif;
  }

/* I'll be real I coppied this straight from ChatGPT idk wtf this does and I don't need to know (yet)
Hey so did you know forshadowing is a- */

#mobile-notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffdddd;
    color: #333;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

/* Blink animation, making sure they're painted properly */

.blink {
    animation: blink 4s ease-in-out infinite;
}
.blinkFrame {
    display: inline-block;
    width: 400px;
    font-weight: bolder;
  }

  @keyframes blink {
    50% {
        color:rgb(0, 0, 0);
    }
   }